body {
  background-color: #ffffff;
  font-style: normal;
  font-family: Roboto fallback sans-serif;
  color: #434455;
}
.name_web {
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  font-weight: 700;
  font-family: Releway sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.name_studio {
  color: #2e2f42;
  text-decoration: none;
  font-family: Releway sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
ul {
  list-style-type: none;
}
.studio_link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
}
.studio_link:hover {
  color: #404bbf;
}
.studio_link:focus {
  color: #404bbf;
}
.portfolio_link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
}
.portfolio_link:hover {
  color: #404bbf;
}
.portfolio_link:focus {
  color: #404bbf;
}
.contacts_link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
}
.contacts_link:hover {
  color: #404bbf;
}
.contacts_link:focus {
  color: #404bbf;
}
.mail {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
}
.mail:hover {
  color: #404bbf;
}

.mail:focus {
  color: #404bbf;
}
.tel {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
}
.tel:hover {
  color: #404bbf;
}

.tel:focus {
  color: #404bbf;
}
.section_link_title {
  background-color: #2e2f42;
}
h1 {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button_service {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02em;
}
.button_service:focus {
  background-color: #404bbf;
}
.button_service:hover {
  background-color: #404bbf;
}
.section_advantages_name {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: normal;
  letter-spacing: 0.02em;
}
.section_advantages_text {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: normal;
  letter-spacing: 0.02em;
}
.section_team {
  background-color: #f4f4fd;
}
.section_team_title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: normal;
  letter-spacing: 0.02em;
}
.section_team_name {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  text-align: center;
  line-height: normal;
  letter-spacing: 0.02em;
}
.section_team_text {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  text-align: center;
  line-height: normal;
  letter-spacing: 0.02em;
}
.section_images {
  background-color: #ffffff;
}
.portfolio_title {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  text-align: center;
  line-height: normal;
  letter-spacing: 0.02em;
}
.portfolio_name {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: normal;
  letter-spacing: 0.02em;
}
.portfolio_text {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: normal;
  letter-spacing: 0.02em;
}
footer {
  background-color: #2e2f42;
}
.name_studio_footer {
  color: #f4f4fd;
  font-family: Releway sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer_text {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: normal;
  letter-spacing: 0.02em;
}
